.special.slide-background {
	background: rgb(20, 61, 119);
}

.slide-background:after {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	font-size: 18px;
	text-align: center;
	line-height: 35px;
	color: #fff;
	background-color: rgb(20, 61, 119);
	background-image: url(../assets/logo_ssv_white.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left;
	content: 'Secure Update of IoT Devices over Low Data Rate Wireless Networks • Jürgen Fitschen • RIOT Summit 2021'
}

.title.slide-background:after {
	content: '';
}

.reveal {
	font-size: 28px;
}

.reveal h1 {
	font-size: 2em;
	text-transform: none;
}

.reveal h2 {
	font-size: 1.5em;
	text-transform: none;
}

.reveal h3 {
	font-size: 1.3em;
	text-transform: none;
	text-align: left;
}

.reveal img {
	max-height: none;
}

.reveal code {
	font-size: 0.8em;
}

.reveal .slide-number {
	padding: 0px 10px;
	bottom: 0px;
	right: 0px;
	font-size: 18px;
	line-height: 35px;
	background: transparent;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.reveal .nm {
	margin: 0px;
}

.reveal .ls {
	text-align: left;
}

.reveal .rs {
	text-align: right;
}

.r-stack pre {
	margin: 5px 0px 20px 0px;
}

.reveal .slides section .fragment.highlight-green.visible {
	color: #42a62aff;
}

.reveal .slides section .fragment.highlight-blue.visible {
	color: #f3971dff;
}

.container{
	display: flex;
}
.col{
	flex: 1;
}

table {
	font-size: 0.75em;
}
